// Variables

$main: #ff00ff;

// Typography
$font: (
	$base-size: 13rem,
	$line-height: 1.3
);

// Colors
$colors: (
	$main: '',
	$secondary: ''
);

$breakpoint: (
	$xs: '',
	$sm: '',
	$md: '',
	$lg: '',
)


// Animation
$transition_time: 0.3s;