// Custom layout element

html {
	margin: 0;
	@include transition('max-height');
	color: color(main);
}
body {
	padding: 0;
}
p {
	margin-top: 0;
}

a {
	color: #FF00ff;
}

h1 {
	color: color(main);
}